В этом задании вы будете работать с [данными](https://www.kaggle.com/c/two-sigma-connect-rental-listing-inquiries/data) соревнования Kaggle "Two Sigma Connect: Rental Listing Inquiries".

<font color='red'>Вопрос 1.</font> При каком значении lmbda, выражение np.log(x) == scipy.stats.boxcox(x, lmbda=lmbda) будет истинным?
- 1
- 0
- $\frac{1}{x}$
- $1 + x$

In [1]:
# ОТВЕТ 0 так как 
# import numpy as np
# from scipy import stats
# from scipy import stats
# import matplotlib.pyplot as plt
# #x=[4]
# x = stats.loggamma.rvs(5, size=500) + 5
# a= np.log(x)
# print(a)
# b = stats.boxcox(x,lmbda=0)
# print(b)
# if a.all() ==b.all():
#     print("True")
# else:
#     print("False")

<font color='red'>Вопрос 2.</font> Переменная ``created`` является признаком, содержащим ``datetime``, это объект класса ``pandas.tslib.Timestamp``. Какой способ извлечения признаков будет наименее полезным?
- created.weekday() * 24 + created.hour
- str(created) c последующим one hot encoding
- created.weekday()
- created.hour

<font color='red'>Вопрос 3. </font> Какую информацию нельзя извлечь из User-Agent?
- Версия операционной системы
- Разрешение экрана пользователя
- Платформу, на базе которой построен браузер
- Принадлежит ли запрос роботу-индексатору Яндекса

<font color='red'>Вопрос 4. </font> Мы решаем задачу классификации: есть пары фотографий, нужно определить, являются ли они фотографиями одного и того же объекта. Какой признак будет наиболее релевантен? 
- Расстояние Левенштейна между названиями моделей фотоаппаратов, данные о модели получены из EXIF
- Евклидово расстояние между векторами, полученными из предобученной сети ResNet без полносвязных слоев
- Разница (в днях) между датами съемки фотографий, даты съемки получены из EXIF
- Разность средней яркости во всех (RGB) каналах обоих изображений

In [3]:
#Скорее всего Разность средней яркости во всех (RGB) каналах обоих изображений

<font color='red'>Вопрос 5.</font> Для какой из задач отбор признаков (feature selection) будет бесполезен?
- Ускорение модели на этапе обучения
- Ускорение модели на этапе предсказания
- Борьба со слишком большими значениями признаков, ведущими к переполнению
- Повышение устойчивости модели

In [4]:
import pandas as pd

Поменяйте на свой путь к данным ``train.json``, этот файл вы получите после разархивации скачанного с Kaggle ``train.json.zip``.

In [5]:
data = pd.read_json('train.json')

In [6]:
data.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level
4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/7170325_3bb5ac84...,2400,145 Borinquen Place,medium
6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"[Doorman, Elevator, Laundry in Building, Dishw...",40.7513,7092344,-73.9722,955db33477af4f40004820b4aed804a0,[https://photos.renthop.com/2/7092344_7663c19a...,3800,230 East 44th,low
9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"[Doorman, Elevator, Laundry in Building, Laund...",40.7575,7158677,-73.9625,c8b10a317b766204f08e613cef4ce7a0,[https://photos.renthop.com/2/7158677_c897a134...,3495,405 East 56th Street,medium
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue,medium
15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"[Doorman, Elevator, Fitness Center, Laundry in...",40.7439,7225292,-73.9743,2c3b41f588fbb5234d8a1e885a436cfa,[https://photos.renthop.com/2/7225292_901f1984...,2795,340 East 34th Street,low

In [7]:
data.shape

(49352, 15)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49352 entries, 4 to 124009
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   bathrooms        49352 non-null  float64
 1   bedrooms         49352 non-null  int64
 2   building_id      49352 non-null  object
 3   created          49352 non-null  object
 4   description      49352 non-null  object
 5   display_address  49352 non-null  object
 6   features         49352 non-null  object
 7   latitude         49352 non-null  float64
 8   listing_id       49352 non-null  int64
 9   longitude        49352 non-null  float64
 10  manager_id       49352 non-null  object
 11  photos           49352 non-null  object
 12  price            49352 non-null  int64
 13  street_address   49352 non-null  object
 14  interest_level   49352 non-null  object
dtypes: float64(3), int64(3), object(9)
memory usage: 6.0+ MB

<font color='red'>Вопрос 6.</font> В каком из районов находится точка с координатами (40.825142, -73.909171)?

In [9]:
''' ВАШ КОД ЗДЕСЬ ''' # Что то

#a = data.loc[(data.latitude >= 40.825142 ) & (data.longitude <= -73.909171)]
#a.tail(10)
data.loc[data.latitude.isin([40.825142, 40.8643]) & (data.longitude <= -73.9280)]

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level
74557,1.0,1,0,2016-05-08 01:15:07,****Low Cost**** Fully Renovated*****Great Loc...,Thayer Street,[Pre-War],40.8643,6981395,-73.928,379e9c250a70372e5cb50b3edce15127,[https://photos.renthop.com/2/6981395_745afa31...,1695,98 Thayer Street,low
100053,1.0,1,0,2016-04-19 03:36:28,"*Location: Thayer St. &amp; Broadway, Manhatta...",Thayer St,"[prewar, LOWRISE, EAT IN KITCHEN, SIMPLEX, HAR...",40.8643,6894111,-73.928,ab15d581a04ed87b6f25d5aff8ddde30,[https://photos.renthop.com/2/6894111_571fa57d...,1695,98 Thayer St,low
123656,1.0,1,0,2016-04-20 03:52:32,LOCATION: THAYER AND BROADWAYLiving in Inwood ...,Thayer St,"[prewar, LOWRISE, SIMPLEX, HARDWOOD]",40.8643,6900110,-73.928,2d36cb7738bcb9b089c8d9b9fff44674,[https://photos.renthop.com/2/6900110_68811910...,1695,98 Thayer St,low

Обучите ``CountVectorizer`` из ``scikit-learn``, используя колонку ``Description`` из датасета "Two Sigma Connect: Rental Listing Inquires" таким образом, чтобы в словаре было не более 1000 слов, не меняя прочие параметры по умолчанию. 
<font color='red'>Вопрос 7.</font> Какое слово соответствует индексу 165 в словаре обученного ``CountVectorizer``?

In [10]:
''' ВАШ КОД ЗДЕСЬ '''#НУЖНО ДОДЕЛАТЬ
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
 
# инициализируем
vectorizer = CountVectorizer(max_features=1000)
X = vectorizer.fit_transform(data.description)
#X.toarray()
#print(X)
matrix_freq = np.asarray(X.sum(axis=0)).ravel()
final_matrix = np.array([np.array(vectorizer.get_feature_names()), matrix_freq])
print(final_matrix)
#print(vectorizer.vocabulary_)

[['000' '10' '100' ... 'you' 'your' 'yourself']
 ['1704' '1230' '777' ... '23358' '17234' '443']]

Используя датасет "Two Sigma Connect: Rental Listing", обработанный при помощи скрипта(/task1/demo.py), отмасштабируйте его при помощи ``MinMaxScaler`` и удалите признаки с дисперсией меньше 0.1. 
<font color='red'>Вопрос 8.</font> Сколько признаков осталось в датасете?

In [39]:
''' ВАШ КОД ЗДЕСЬ '''

X = vectorizer.fit_transform(data.description)


def min_max_scale(X, range=(0, 1)):
    mi, ma = range
    X_std = (X - X.min()) / (X.max() - X.min())
    X_scaled = X_std * (ma - mi) + mi
    return X_scaled

print(min_max_scale(X))

  (0, 69)	0.002976190476190476
  (0, 73)	0.002976190476190476
  (0, 115)	0.005952380952380952
  (0, 122)	0.002976190476190476
  (0, 126)	0.002976190476190476
  (0, 152)	0.05357142857142857
  (0, 207)	0.002976190476190476
  (0, 214)	0.002976190476190476
  (0, 229)	0.002976190476190476
  (0, 279)	0.002976190476190476
  (0, 305)	0.002976190476190476
  (0, 314)	0.002976190476190476
  (0, 355)	0.002976190476190476
  (0, 381)	0.002976190476190476
  (0, 424)	0.002976190476190476
  (0, 436)	0.002976190476190476
  (0, 442)	0.002976190476190476
  (0, 458)	0.002976190476190476
  (0, 475)	0.008928571428571428
  (0, 477)	0.002976190476190476
  (0, 484)	0.002976190476190476
  (0, 500)	0.002976190476190476
  (0, 503)	0.002976190476190476
  (0, 538)	0.002976190476190476
  (0, 550)	0.002976190476190476
  :	:
  (49351, 490)	0.002976190476190476
  (49351, 503)	0.002976190476190476
  (49351, 539)	0.002976190476190476
  (49351, 555)	0.002976190476190476
  (49351, 574)	0.002976190476190476
  (49351, 582)	0.005952380952380952
  (49351, 616)	0.005952380952380952
  (49351, 634)	0.002976190476190476
  (49351, 635)	0.002976190476190476
  (49351, 650)	0.002976190476190476
  (49351, 659)	0.002976190476190476
  (49351, 665)	0.002976190476190476
  (49351, 702)	0.002976190476190476
  (49351, 704)	0.002976190476190476
  (49351, 716)	0.002976190476190476
  (49351, 735)	0.005952380952380952
  (49351, 793)	0.005952380952380952
  (49351, 874)	0.002976190476190476
  (49351, 877)	0.005952380952380952
  (49351, 883)	0.005952380952380952
  (49351, 893)	0.002976190476190476
  (49351, 909)	0.005952380952380952
  (49351, 920)	0.002976190476190476
  (49351, 942)	0.002976190476190476
  (49351, 957)	0.002976190476190476